.admin-main {
    background-color: #2d3f4d;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.admin-container {
    background-color: #ffffff;
    margin: 2em 0;
    width: 90vw;
    min-height: 90vH;
    -webkit-box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
    box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
}

.admin-headline h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 1em 0;
    border-bottom: 1px solid lightgray;
}


@media (min-width: 768px) {

    .admin-container {
        width: 60vw;
    }
}