.container-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    text-align: center;
}

.calendar .react-calendar {
    font-family: "Raleway";
    margin: 0 auto;
    border: 1px solid lightgrey;
}

.calendar .react-calendar__tile--active,
.calendar .react-calendar__tile--active:enabled:focus {
    background: #2d3f4d;
}

.calendar .react-calendar__tile--active:enabled:hover {
    background: darkgray;
}

.calendar .react-calendar__navigation__label {
    font-family: "Raleway";
    font-size: 1rem;
}

.calendar abbr[title] {
    text-decoration: none;
}

.calendar .react-calendar__month-view__weekdays {
    text-transform: none;
}

.heading-date,
.heading-time {
    margin: 1em 0;
    font-family: "Raleway";
    font-size: 1.1rem;
}

.checkbox-container {
    display: flex;
    justify-content: center;
}

.checkbox-right,
.checkbox-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox-label {
    font-family: "Raleway";
    font-size: 1.1rem;
    position: relative;
    cursor: pointer;
    border: 1px solid lightgray;
}

.checkbox-label:hover {
    background: #2d3f4d;
    color: white;
    -webkit-transition-duration: 0.2s;
    /* Safari */
    transition-duration: 0.2s;
    border: 1px solid black;
}

.checkbox-left label,
.checkbox-right label,
input[type="checkbox"] {
    margin: 1rem .5rem .5rem .5rem;
}

::-webkit-datetime-edit {
    padding: .5rem;
}

.checkbox-label [type="checkbox"] {
    display: none;
}

[type="checkbox"]+span {
    display: inline-block;
    padding: 1em 2em;
}