.search-date-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    width: 70%;
    color: #fff;
}
.checkbox-container {
    display: flex;
    justify-content: center;
}
.checkbox-right, .checkbox-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
label, p {
    margin: 1rem 0;
}