.container-admin-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 2em;
    min-width: 80vw;
    border-bottom: 1px solid lightgrey;
}

.admin-search-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.label-bookings,
.label-search-time {
    font-size: 1.1rem;
    font-family: Raleway;
    margin: .5em 0;
}

.admin-checkbox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1em;
}

.admin-checkbox-left,
.admin-checkbox-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem;
    font-family: Raleway;
    margin: 0 1em;
}

.admin-checkbox-left input,
.admin-checkbox-right input {
    margin: .5em 0;
}

.admin-button,
.admin-book-button {
    width: 150px;
    font-size: 1.1rem;
    font-family: Raleway;
    background-color: #1c2329;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 1em 0;
}

.admin-search-form input[type="date"i] {
    font-family: Raleway;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: .4em;
    width: 150px;
}

@media (min-width: 768px) {

    .container-admin-search {
        min-width: 50vw;
    }
}